# custom redirects
Redirect 301 /github https://github.com/matsn0w
Redirect 301 /instagram https://instagram.com/matsn0w
Redirect 301 /linkedin https://nl.linkedin.com/in/bart-scholtus
Redirect 301 /discord https://discord.gg/XcctTAuT5R
Redirect 301 /miss-els https://github.com/matsn0w/MISS-ELS
