// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;700&display=swap');

// FontAwesome
$fa-font-path: "/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// Theme
@import "theme";

body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    background: $background;
    color: $text;
    overflow: hidden;
    text-align: center;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .tag {
        text-align: center;

        @media (max-width: 768px) {
            position: absolute;
            top: 25%;
        }
    }   
    
    h1 {
        user-select: none;
        font-weight: 200;
        font-size: 20vw;
        opacity: .3;
        margin: 0;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.5rem;
        padding: 2.5rem;

        @media (max-width: 768px) {
            position: absolute;
            bottom: 2rem;
        }

        a {
            text-decoration: none;
            color: $text;
            font-size: 2rem;

            &:hover {
                transform: scale(1.5);
            }

            &.github:hover {color: $github;}
            &.instagram:hover {color: $instagram;}
            &.linkedin:hover {color: $linkedin;}
            &.discord:hover {color: $discord;}
            &.email:hover {color: $email;}
        }
    }

    #me {
        max-width: 125px;
        margin: 3rem 0;
        animation: spin 2s linear infinite;
        animation-play-state: paused;
        
        @keyframes spin {
            100% { transform: rotate(360deg); }
        }
        
        &:hover {
            animation-play-state: running;
        }
    }

    #qr {
        background-color: $background;
        z-index: 100;
        max-width: 150px;
        position: absolute;
        top: 5%;
        left: 5%;
        animation: scale .5s linear forwards;
        animation-play-state: paused;
        transform-origin: top left;

        @keyframes scale {
            100% { transform: scale(2); }
        }

        &:hover {
            animation-play-state: running;
        }
    }
}
